/* 
    Created on : Aug 26, 2016, 1:35:32 PM
    Author     : jorge
*/

div.center{
    min-width:500px;
    min-height:500px;
    margin: auto;
    background-color: lightgray;
    border: 2px solid darkgray;
    text-align: center;
    }

h3.tit {
    margin: 2px;
    border-bottom:solid darkgray;
    }
